.idea/
.idea
.idea/*
.swp
build
build/
table.md
env
env/
env/*
sys
todo.txt
Untitled.ipynb
.ipynb_checkpoints
.ipynb_checkpoints*
.ipynb_checkpoints/*
.ipynb_checkpoints/
iarm.ipynb
node_modules/
package-lock.json
help.md
venv/
ansible_kernel.log
